<div class="container">

  <div class="row">
    <div class="col-xl-2 ml-auto align-self-center">
      <app-mailto-button class="mailto-button"></app-mailto-button>
    </div>
    <div class="col offset-xl-1">
      <app-student-column-list></app-student-column-list>
    </div>
</div>
  <div class="row">
    <div class="col-xl-2">
      <app-student-filter-list></app-student-filter-list>
    </div>
    <div class="col offset-xl-1">
      <app-student-list></app-student-list>
    </div>

  </div>

</div>
