<div class="header bg-light d-flex justify-content-around">
  <div class="col-3">
    <img src="../../assets/logoPolytech.png" alt="Logo Polytech"/>
  </div>
  <div class="align-self-center">
    <button type="button" class="btn btn-light" routerLink="/students">Etudiants</button>
    <button type="button" class="btn btn-light" routerLink="/filters">Filtres</button>
    <button type="button" class="btn btn-light" routerLink="/columns">Colonnes</button>
    <button type="button" class="btn btn-light" routerLink="/reminders">Rappels</button>
    <button type="button" class="btn btn-light" routerLink="/mails">Mails</button>
    <button type="button" class="btn btn-light" routerLink="/appointments">Rendez-vous</button>
  </div>
  <div class="align-self-center col-3">
    <button type="button" class="btn btn-primary" (click)="onClickLogout()">Se Déconnecter</button>
  </div>
</div>

